@font-face {
  font-family: 'brandon';
  src: url('Brandon.otf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'bld';
  src: url('Brandon_bld.otf')  format('truetype'); /* Safari, Android, iOS */
}

